<div class="col-md-2 offset-md-4">

<div class="card">

<div class="card-body">
<form >
<div class="form-group" >
<input type="text" name="nombre" placeholder="nombre" [(ngModel)]="compania.nombre" class="form-control"   autofocus>
</div>
<div class="form-group">
<input type="text" name="direccion" placeholder="direccion" [(ngModel)]="compania.direccion" rows="2" class="form-control" autofocus>
</div>
<div class="form-group">
<input type="text" name="telefono" placeholder="telefono" [(ngModel)]="compania.telefono" rows="2" class="form-control" autofocus>
</div>

<button class="btn btn-success btn-block" (click)="edit ? updatedCompania() : saveNewCompania()">
Save
</button>



</form>
</div>
</div>
</div>

<div class="col-md-4">
<div class="card card-body text-center">
<h3>{{compania.id}}. {{compania.nombre}}</h3>
Direccion <p>{{compania.direccion}}</p>
Telefono <p>{{compania.telefono}}</p>
Id Externo<p>{{compania.idExterno}}</p>
Fecha<p>{{compania.created_at | date: 'yyyy-MM-dd'}}</p>
</div>
</div>
