

<div class="col-sm-4" *ngFor="let compania of companias">
  <div class="card text-center">
    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
      {{compania.nombre}}
       <button class="btn btn-danger" (click)="deleteCompania(compania.id)">
       <i class="far fa-trash-alt"></i>
       </button>
       </div>
       <img alt="card-img-top" src="{{compania.image}}">
  <div class="card-body">
       <p>{{compania.direccion}}</p>
       <a [routerLink]="['/companias/edit',compania.id]" class="btn btn-info btn-block" >
       EDIT GAME
       </a>
       </div>
       </div></div>
