

<div class="col-sm-4" *ngFor="let compania of companias">
  <div class="card text-center">
    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
      {{compania.nombre}}
       <button class="btn btn-danger" (click)="deleteCompania(compania.id)">
       <i class="far fa-trash-alt"></i>
       </button>
       </div>

  <div class="card-body">
    <b>  Direccion:</b> <p>{{compania.direccion}}</p>
    <b>   Telefono:</b> <p>{{compania.telefono}}</p>
    <b>   Id Externo:</b> <p>{{compania.idExterno}}</p>

       <a [routerLink]="['/companias/edit',compania.id]" class="btn btn-info btn-block" >
       EDIT GAME
       </a>
       </div>
       </div></div>
